# Editor & IDE configurations
.vscode/
.idea/
*.swp
*~

# Tooling & local caches
.depatlas-store/

# Operating system files
.DS_Store
Thumbs.db

# Julia profiling and coverage metrics
*.jl.cov
*.jl.*.cov
*.jl.mem

# Julia package documentation builds
docs/build/
docs/site/

# Compiled libraries / binaries (if any)
*.so
*.dylib
*.dll
julia-1.10.4/
julia-1.10.4-linux-x86_64.tar.gz
